<div id="app" class="layout">
  <div id="header" class="ui fixed inverted menu">
    <div class="ui container">
      <a v-link="{ name: 'home'}" class="item home">
        <i class="home icon"></i>Home
      </a>

      <div class="right menu">
        <a v-link="{ name: 'login'}" v-if="!loggedIn" class="item">
          <i class="sign in icon"></i>Login
        </a>

        <a v-link="{ name: 'register'}" v-if="!loggedIn" class="item">
          <i class="add user icon"></i>Register
        </a>

        <a v-link="{ name: 'user'}" v-if="loggedIn" class="item">
          <i class="user icon"></i>Hello, {{currentUser.username}}!
        </a>

        <a href="#!/logout" v-if="loggedIn" class="item">
          <i class="sign out icon"></i>Logout
        </a>
      </div>
    </div>
  </div>

  <router-view id="content" class="ui main container"></router-view>
</div>
