@import '../bower_components/foundation/css/normalize.css'
@import '../bower_components/foundation/css/foundation.css'
@import '../bower_components/fontawesome/css/font-awesome.css'

backgroundColor = white

body
  background: backgroundColor

@import './components/**/style'
