@import '../bower_components/foundation/css/normalize.css'
@import '../bower_components/foundation/css/foundation.css'
@import './components/**/style'

linkColor = red

body
  background: white

a
  color: linkColor !important

  &:hover
    text-decoration: underline
